.lg-panel {
  position:relative;
  background-color: #f2f2f4;
  width: 22rem;
  overflow: hidden;
  padding:0;
  margin: 1rem auto 0.2rem;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.lg-title {
cursor: pointer;
line-height:1.2rem;
font-size: 1em;
font-weight: bold;
padding:3px;
/* border-bottom:1px solid #eee; */
}

.lg-b-shadow {
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}

.lg-in-shadow {
  -moz-box-shadow: inset 0 -8px 8px -8px #000;
  -webkit-box-shadow: inset 0 -8px 8px -10px #000;
  box-shadow: inset 0 -8px 8px -8px #000;
}

.lg-overlay {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 pointer-events: none;
 background: none;
 border: 1px solid green;
 z-index: 10000;
}

.lg-scroller {
  position: relative;
  margin: 0px auto;
  height: auto;
  max-height: 7rem;
  background-color:none;
  overflow-y: auto;
  z-index:300;
}
.lg-only {
  padding:2px;
  display:none;
  margin:0;
  overflow-wrap: normal;
  border-top: 1px solid #eee;
}

.lg-only-lb {
  font-weight: bold;
  color: #ed1848;
  cursor: pointer;
  margin: 0 1px;
  padding: 0 2px 0 1px;
  border:1px solid #e2e4e6;
  background-color: #e8eaec;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.lg-only-item {
  display:inline-block;
  font-size: 90%;
  font-weight: bold;
  cursor: default;
  padding: 0 3px 1px;
  border: 0;
  margin: 2px 2px;
  color: white;
  background-color: #ed1848;
  border-radius: 6px;
}

.lg-apply {
  font-size: 90%;
  font-weight: bold;
  cursor: pointer;
  margin: 0 2rem 2px 2px;
  padding: 0 2px 1px 2px;
  /*color: #bd0019;*/
  color: #ed1848;
  background-color: #e8eaec;
  border:1px solid #e2e4e6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  /* border:1px solid #fac7cb;  */
  border-radius: 2px;
}

.lg-apply:hover {
  background-color: #f6f8fa;
  /* box-shadow: 2px 2px 1px grey; */
}

.lg-lst {
  padding: 0;
  padding-top: 4px;
  margin: 0 6px;
  background-color: #fff;
  z-index: -1;
  /* border-top: 1px solid  #ddd;
  border-bottom: 1px solid  #ddd; */
  border-radius: 0;
}

.lg-item {
font-size: 95%;
cursor: pointer;
padding: 0 6px 1px;
border: 0;
margin: 2px 2px;
border-radius: 6px;
}

.lg-item:hover {
  background: #eae6e6;
}

.lg-item.lg-sel {
  font-weight:bold;
  background-color: #ffe2e6;
}

.lg-count {
margin-top: 2px;
font-size: 85%;
font-weight: bold;
border: 1px solid #bbb;
background: none;
color: inherit;
/* background-color: #ed1848; */
}


